* {
    font-family: Arial;
<<<<<<< HEAD
    background-color: #EBEBFF; 
    padding: 0;
    margin: 0;
    }

.header {
        height: 25em;
        width: 100%;
        background-color: #36483E;
        margin: 0 auto;
        /*header won't move*/
        position: fixed;
        bottom-border: .3em dashed #EBEBFF
        }

.header img {
            /*positioned relative to its nearest ancestor (header div)*/    
            position: absolute;
            border: .3em solid #EBEBFF;
            border-radius: 50%;
            width: 20em;
            height: 20em;
            /*top and left refer to the edges of the image*/
            top: 50%;
            left: 50%;
            /*half of the width and height to center */
            margin-top: -10em;
            margin-left: -10em;
            display: inline-block;
}

.title {
            position: absolute;
            display: table;
            vertical-align: middle;
            width: 100%;
            top: 50%;
            /*table cells won't overlap*/
            table-layout: fixed;
}

#left {
        display: inline;
        float: left;
        padding-left: .25em;
}

#right {
        display: inline;
        float: right;
        padding-right: .25em;
        
}

.container {
            height: 100em;
            background-color: #E6E6B8;
            width: 55em;
            float: middle;
            margin-left: auto;
            margin-right: auto;
}

=======
    }

img {
    height: 25em;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
>>>>>>> b35834db8573f6c8bac47f6d289be7ed964c42fc
