* {
    font-family: Arial;
    padding: 0;
    margin: 0;
    }

.header {
        z-index: 1;
        height: 25em;
        width: 100%;
        background-color: #82BBA0;
        margin: 0 auto;
        /*header won't move*/
        position: fixed;
        }

.header img {
            /*positioned relative to its nearest ancestor (header div)*/    
            position: absolute;
            border: .3em solid #EBEBFF;
            border-radius: 50%;
            width: 20em;
            height: 20em;
            /*top and left refer to the edges of the image*/
            top: 50%;
            left: 50%;
            /*half of the width and height to center */
            margin-top: -10em;
            margin-left: -10em;
            display: inline-block;
            }

.title {
            position: absolute;
            display: table;
            vertical-align: middle;
            width: 100%;
            top: 50%;
            background-color: #EBEBFF;
            /*table cells won't overlap*/
            table-layout: fixed;
            text-overflow: ellipsis;

}

#left {
        display: inline;
        float: left;
        padding-left: .25em;
}

#right {
        display: inline;
        float: right;
        padding-right: .25em;
        
}

.container {
            height: 100em;
            background-color: #EBEBFF;
            width: 55em;
            float: middle;
            margin-left: auto;
            margin-right: auto;
            padding-top: 25em;
            position: relative;
            overflow: hidden;
}

h2 {
    text-align: center;
    padding: 2em;
}

p {
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 2em;
}

#about {
            height: 25em;
            border-bottom: .25em solid #82BBA0;
}

